
.vs/CustomTreadPoolAndTaskScheduler/DesignTimeBuild/.dtbcache
.vs/CustomTreadPoolAndTaskScheduler/v16/.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
bin/Debug/netcoreapp3.1/Task.CustomTreadPoolAndTaskScheduler.deps.json
*.dll
*.exe
*.pdb
bin/Debug/netcoreapp3.1/Task.CustomTreadPoolAndTaskScheduler.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/Task.CustomTreadPoolAndTaskScheduler.runtimeconfig.json
obj/Assignment.CustomTreadPoolAndTaskScheduler.csproj.nuget.dgspec.json
obj/Assignment.CustomTreadPoolAndTaskScheduler.csproj.nuget.g.props
obj/Assignment.CustomTreadPoolAndTaskScheduler.csproj.nuget.g.targets
obj/CustomTreadPoolAndTaskScheduler.csproj.nuget.dgspec.json
obj/CustomTreadPoolAndTaskScheduler.csproj.nuget.g.props
obj/CustomTreadPoolAndTaskScheduler.csproj.nuget.g.targets
obj/Debug/netcoreapp3.1/Assignment.CustomTreadPoolAndTaskScheduler.assets.cache
obj/Debug/netcoreapp3.1/Assignment.CustomTreadPoolAndTaskScheduler.csproj.FileListAbsolute.txt
